/* add some basic styles */
body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #444;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav img {
    max-height: 50px;
    margin-right: 20px;
}

.main-layout {
    min-height: 100dvh;
    text-align: center;
    border: 3px solid limegreen;
    display: grid;
    grid-template-rows:
    auto
    1fr
    auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

footer span {
    font-size: 1.5em;
    vertical-align: middle;
}